.error_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25em;
    height: 100dvh;
}

.error_title {
    font-size: 3.125em;
}

.error_text {
    font-size: 1.25em;
}