.metrics_container {
    display: grid;
    row-gap: 0.125em;
    grid-auto-flow: column;
}

.genres_container {
    grid-template-rows: repeat(5, auto);
}

.movies_per_year_container {
    grid-template-rows: repeat(10, auto);
}

.metrics_entrie {
    font-size: 1.125em;
    white-space: nowrap;
}

@media only screen and (max-width: 1200px) {
    .genres_container {
        grid-template-rows: repeat(10, auto);
    }

    .movies_per_year_container {
        grid-template-rows: repeat(28, auto);
    }
}

@media only screen and (max-width: 400px) {
    .metrics_entrie {
        font-size: 0.9375em;
    }
}